.screenContainer{
    margin-left: 240px;
    margin-top: 10px;
    color: #464d48;
    padding-bottom: 20px;
}
.container{
    background-color: #fff;
    border-radius: 16px;
    width: calc(100% - 130px);
    margin: 27px 40px 0px 40px;
    box-shadow: 0 0 6px 0px rgb(219, 235, 241);
    padding: 30px 30px 15px 30px;
    text-align: left;
}
.container h2{
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    width: 100%;
    margin-top: 0;
    margin-left: 10px;
}
.container p{
    padding-left: 10px;
}
.container ul{
    margin-left: 0;
    padding-left: 25px;
}
.table{
    width: 1000px;
}